[push]
	default = matching

[alias]
	st = status --short --branch
	ca = !git add -A && git commit -av
	cam = !git add -A && git commit -avm
	co = checkout
	branches = branch -a -v
	remotes = remote -v
	tags = tag -l
	unstage = reset HEAD --
	uncommit = reset --soft HEAD^
	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	pl = log --graph --pretty=format:'%Cred%h%Creset █ %Cblue[%an]%Creset █ %Cred(%cr)%Creset █ %s █ %Cgreen%d%Creset'
	lg = log --pretty=format:'%Cred%h%Creset |%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset ' --graph
	lgl = log --pretty=format:'%Cred%h%Creset |%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)[%an]%Creset' --graph
	dp = diff --word-diff --unified=10
	new = lg main..HEAD
	missing = lg HEAD..main

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	whitespace = blank-at-eol,blank-at-eof,tab-in-indent
	editor = nvim
	fsmonitor = true
	autocrlf = input
	pager = delta

[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
	conflictstyle = diff3

[credential]
	helper = osxkeychain

[include]
	path = ~/.gitconfig.local
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[rebase]
	autosquash = true
	autoStash = true
[rerere]
	enabled = true
